<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BaseUrl" value="https://reinir.mooo.com" />
		<add key="Env" value="Prod" />
		<add key="RequestTimeout" value="30000" />

		<add key="Camera1Ip" value="" />
		<add key="Camera2Ip" value="" />
		<add key="Camera3Ip" value="" />

		<add key="Camera1DeviceId" value="0" />
		<add key="Camera2DeviceId" value="" />
		<add key="Camera3DeviceId" value="" />

		<add key="AppToken" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1laWRlbnRpZmllciI6ImQ1MjE5OTE1LTc5YmItNGIxNC04MmExLWQxZjk5Y2I3YjU4MyIsIk5hbWUiOiJQT1MwMDAxMjMiLCJodHRwOi8vc2NoZW1hcy5taWNyb3NvZnQuY29tL3dzLzIwMDgvMDYvaWRlbnRpdHkvY2xhaW1zL3JvbGUiOiJQT1NfREVWSUNFIiwiZXhwIjoxNzUxMTA0ODk0LCJpc3MiOiJBaVNjYW5uZXJTdG9yZSIsImF1ZCI6IkFpU2Nhbm5lclN0b3JlVXNlcnMifQ.msrZhTSw2qpinqPFiAotI-brxeGT8F2Ra92ChtyZNxY" />
		<add key="DeviceId" value="d5219915-79bb-4b14-82a1-d1f99cb7b583" />
		<add key="StoreId" value="a1e2f8c4-4c1b-4f2a-bf71-1f3c7a1b1111" />
		<add key="StaffId" value="6e9bac05-802d-46c3-9f58-5ce37cfc038e" />

		<add key="IsMockOrder" value="true" />


		<!--<add key="MockOrderFilePath" value="Mock\Order.json" />-->

		<add key="Img1Url" value="https://reinir.mooo.com/files/d9e025cd1b92a8ccf183.jpg"/>
		<add key="Img2Url" value="https://reinir.mooo.com/files/e7234bcc-62d1-4fe4-a237-b54133b87a91.jpg"/>
		<add key="Img3Url" value="https://reinir.mooo.com/files/aa06332b0d74be2ae765.jpg"/>
	</appSettings>
</configuration>
