<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BaseUrl" value="https://reinir.mooo.com" />
		<add key="Env" value="Dev" />
		<add key="RequestTimeout" value="30000" />

		<add key="Camera1Ip" value="" />
		<add key="Camera2Ip" value="" />
		<add key="Camera3Ip" value="" />

		<add key="Camera1DeviceId" value="0" />
		<add key="Camera2DeviceId" value="1" />
		<add key="Camera3DeviceId" value="2" />

		<add key="AppToken" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1laWRlbnRpZmllciI6IjNmYTg1ZjY0LTU3MTctNDU2Mi1iM2ZjLTJjOTYzZjY2YTAwMSIsIk5hbWUiOiJURVNUX0RFVl8xIiwiaHR0cDovL3NjaGVtYXMubWljcm9zb2Z0LmNvbS93cy8yMDA4LzA2L2lkZW50aXR5L2NsYWltcy9yb2xlIjoiUE9TX0RFVklDRSIsImV4cCI6MTc0NjY3NDkzMSwiaXNzIjoiQWlTY2FubmVyU3RvcmUiLCJhdWQiOiJBaVNjYW5uZXJTdG9yZVVzZXJzIn0.px_SoDE-9okJZafLLWbk7NE-8lqN3hywY9zqg28gEmU" />
		<add key="DeviceId" value="3fa85f64-5717-4562-b3fc-2c963f66a001" />
	</appSettings>
</configuration>
