<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BaseUrl" value="https://reinir.mooo.com" />
		<!--<add key="Env" value="Prod" />-->
		<add key="Env" value="Prod" />
		<add key="RequestTimeout" value="30000" />

		<add key="Camera1Ip" value="" />
		<add key="Camera2Ip" value="" />
		<add key="Camera3Ip" value="" />

		<add key="Camera1DeviceId" value="0" />
		<add key="Camera2DeviceId" value="1" />
		<add key="Camera3DeviceId" value="2" />

		<add key="AppToken" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1laWRlbnRpZmllciI6ImEzM2NmYzIwLWE0YjItNDZiMi1hMDBiLTFlNzFiMjNiMWQ2YSIsIk5hbWUiOiJQT1MwMDAwMDAwMiIsImh0dHA6Ly9zY2hlbWFzLm1pY3Jvc29mdC5jb20vd3MvMjAwOC8wNi9pZGVudGl0eS9jbGFpbXMvcm9sZSI6IlBPU19ERVZJQ0UiLCJleHAiOjE3NDc4NDY5NjcsImlzcyI6IkFpU2Nhbm5lclN0b3JlIiwiYXVkIjoiQWlTY2FubmVyU3RvcmVVc2VycyJ9.xY_dfrro4EZqzHtoEHZva60lZs4Pgh9Iy2DFAARwyAo" />
		<add key="DeviceId" value="a33cfc20-a4b2-46b2-a00b-1e71b23b1d6a" />
		<add key="StoreId" value="a1e2f8c4-4c1b-4f2a-bf71-1f3c7a1b1111" />
		<add key="StaffId" value="6e9bac05-802d-46c3-9f58-5ce37cfc038e" />

		<add key="IsMockOrder" value="false" />
		<add key="SingleCam" value="true" />

		<add key="Img1Url" value="https://reinir.mooo.com/files/food.jpg"/>
		<add key="Img2Url" value="https://reinir.mooo.com/files/food.jpg"/>
		<add key="Img3Url" value="https://reinir.mooo.com/files/food.jpg"/>
	</appSettings>
</configuration>
